h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color: royalblue;
}

body {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}

h2 {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    color:cornflowerblue;
}